<footer class="article-footer" id="articleFooter">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="article-tags">
          {% for tag in page.tags %}
          <a href="{{site.baseurl}}/tags#{{tag}}" class="article-tag">&#35;{{ tag }}</a>
          {% endfor %}
        </div>

        {% include article/articleShareBar.html %}

        <div class="article-written-by">

          <div class="article-author clearfix">
            {% if site.author-image %}
            <div class="article-author-image">
              <a href="{{site.baseurl}}/about/">
                <img src="{{ "/assets/images/" | prepend: site.baseurl | append : site.author-image-icon}}" alt="">
              </a>
            </div>
            {% endif %}
            <div class="article-author-info">
              <a href="{{site.baseurl}}/about/">
                {{ site.author }}
              </a>
              <p>{{ site.about-author }}</p>
            </div>
          </div>
        </div>

        {% include disqus.html %}
      </div>
    </div>
  </div>
</footer>