<footer class="article-footer" id="articleFooter">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% include share_bar.html %}

        <div class="article-tags">
          {% for tag in page.tags %}
          <a href="{{site.baseurl}}/tags#{{tag}}" class="article-tag">{{ tag }}</a>
          {% endfor %}
        </div>

        <div class="page-writtenby">
          <h1>Written by</h1>
          <div class="page-author">
            {% if site.author-image %}
            <div class="page-author-image" style="background-image: url({{ " /assets/images/
              " | prepend: site.baseurl | append : site.author-image}})"></div>
            {% endif %}
            <h2>{{ site.author }}</h2>
            <p>{{ site.about-author }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{% include disqus.html %}