
.share-button {
  display: inline-block;
  margin: 4px;
  font-size: $font-size-lg;
  color: $gray-800;

  a,
  a:hover,
  &:focus,
  &:hover, {
    text-decoration: none;
  }
}

.share-buttons {

  .fa-facebook-official {
    &:hover {
      color: #3b5998;
      text-decoration: none;
    }
  }

  .fa-twitter {
    &:hover {
      color: #55acee;
      text-decoration: none;
    }
  }

  .fa-reddit-alien {
    &:hover {
      color: #ff4500;
      text-decoration: none;
    }
  }

  .fa-linkedin {
    &:hover {
      color: #007bb5;
      text-decoration: none;
    }
  }

  .fa-envelope {
    &:hover {
      color: $gray-900;
      text-decoration: none;
    }
  }
}