.article-article {

  figure {
    margin: 2rem 1rem;
    figcaption {
      font-family: $font-family-serif;
      font-size: $font-size-sm;
      font-style: italic;
      text-align: center;
      margin: 8px 0;
    }
  }

  img {
    @extend .img-fluid;
  }
}

