.article-article {
  font-family: $font-family-serif;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;

  figure {
    margin: 2rem 1rem;
    figcaption {
      font-family: $font-family-serif;
      font-size: $font-size-sm;
      font-style: italic;
      text-align: center;
      margin: 8px 0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-bold;
    line-height: $headings-line-height;
    margin-top: 56px;
  }

  img {
    @extend .img-fluid;
  }

  @include media-breakpoint-up(lg) {
    font-size: $font-size-lg;
  }
}

