<!-- Container -->
<div class="container">
  <!-- Branding -->
  <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
  <!-- End branding -->
  <!-- Mobile burger menu -->
  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#topNavBar-links" aria-controls="topNavBar-links" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>
  <!-- End mobile burger menu -->
  <!-- Links -->
  <div class="collapse navbar-collapse" id="topNavBar-links">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/about/">About</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/contact/">Contact</a></li>
    </ul>
  </div>
  <!-- End links -->
</div>
<!-- End container -->