<!DOCTYPE html>

<html lang="en">

{% include head.html %}

<body>
  {% include topNav.html %}
  <div class="home-cards" id="homeCards">
    <div class="container">
        <h1>Latest posts</h1>

        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="card-deck">
              {% for post in site.posts limit:1 %}
              <div class="card">
                <a href="{{post.url | prepend: site.baseurl}}">
                  <img class="card-img-top" src="/assets/images/i-rest.jpg" alt="Card image cap">
                </a>
                <div class="card-body">
                  <a href="{{post.url | prepend: site.baseurl}}">
                    <h4 class="card-title">{{ post.title }}</h4>
                    <p class="card-text">{{ post.subtitle }}</p>
                  </a>
                </div>
                <div class="card-footer">
                  <a href="{{post.url | prepend: site.baseurl}}">
                        <small class="text-muted">
                          {{ post.date | date_to_string }}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
                          <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " min read" }}{% endunless %}</span>
                        </small>
                      </a>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="card-deck">
              {% for post in site.posts offset:1 limit:3 %}
              <div class="card">
                <a href="{{post.url | prepend: site.baseurl}}">
                  <img class="card-img-top" src="/assets/images/i-rest.jpg" alt="Card image cap">
                </a>
                <div class="card-body">
                  <a href="{{post.url | prepend: site.baseurl}}">
                    <h4 class="card-title">{{ post.title }}</h4>
                    <p class="card-text">{{ post.subtitle }}</p>
                  </a>
                </div>
                <div class="card-footer">
                  <a href="{{post.url | prepend: site.baseurl}}">
                        <small class="text-muted">
                          {{ post.date | date_to_string }}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
                          <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " min read" }}{% endunless %}</span>
                        </small>
                      </a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

      {% for category in site.categories %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <a name="#{{ category_name | slugize }}"></a>
        <h1>{{ category_name }}</h1>
        <a href="{{site.baseurl}}/categories/#{{category | first | slugize}}">More</a>
        {% capture category_post_count %}{{ site.categories[category_name] | size }}{% endcapture %}
        {% capture difference %}{{ category_post_count | minus:6 }}{% endcapture %}
        
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {% if difference contains '-' %}
              {% capture first_row_count %}{{ category_post_count | modulo:3 }}{% endcapture %}
              {% capture second_row_count %}{{ category_post_count | minus:first_row_count }}{% endcapture %}
              
              <div class="card-deck">
                  {% for post in site.categories[category_name] limit:first_row_count %}
                  <div class="card">
                    <a href="{{post.url | prepend: site.baseurl}}">
                      <img class="card-img-top" src="/assets/images/i-rest.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body">
                      <a href="{{post.url | prepend: site.baseurl}}">
                        <h4 class="card-title">{{ post.title }}</h4>
                        <p class="card-text">{{ post.subtitle }}</p>
                      </a>
                    </div>
                    <div class="card-footer">
                      <a href="{{post.url | prepend: site.baseurl}}">
                        <small class="text-muted">
                          {{ post.date | date_to_string }}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
                          <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " min read" }}{% endunless %}</span>
                        </small>
                      </a>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <div class="card-deck">
                  {% for post in site.categories[category_name] offset:first_row_count limit:second_row_count %}
                  <div class="card">
                    <a href="{{post.url | prepend: site.baseurl}}">
                      <img class="card-img-top" src="/assets/images/i-rest.jpg" alt="Card image cap">
                    </a>
                    <div class="card-body">
                      <a href="{{post.url | prepend: site.baseurl}}">
                        <h4 class="card-title">{{ post.title }}</h4>
                        <p class="card-text">{{ post.subtitle }}</p>
                      </a>
                    </div>
                    <div class="card-footer">
                      <a href="{{post.url | prepend: site.baseurl}}">
                        <small class="text-muted">
                          {{ post.date | date_to_string }}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
                          <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " min read" }}{% endunless %}</span>
                        </small>
                      </a>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              {% else %}
              <div class="card-deck">
                {% for post in site.categories[category_name] limit:3 %}
                <div class="card">
                  <a href="{{post.url | prepend: site.baseurl}}">
                    <img class="card-img-top" src="/assets/images/i-rest.jpg" alt="Card image cap">
                  </a>
                  <div class="card-body">
                    <a href="{{post.url | prepend: site.baseurl}}">
                      <h4 class="card-title">{{ post.title }}</h4>
                      <p class="card-text">{{ post.subtitle }}</p>
                    </a>
                  </div>
                  <div class="card-footer">
                    <a href="{{post.url | prepend: site.baseurl}}">
                      <small class="text-muted">
                        {{ post.date | date_to_string }}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
                        <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " min read" }}{% endunless %}</span>
                      </small>
                    </a>
                  </div>
                </div>
                {% endfor %}
              </div>
              <div class="card-deck">
                {% for post in site.categories[category_name] offset:3 limit:3 %}
                <div class="card">
                  <a href="{{post.url | prepend: site.baseurl}}">
                    <img class="card-img-top" src="/assets/images/i-rest.jpg" alt="Card image cap">
                  </a>
                  <div class="card-body">
                    <a href="{{post.url | prepend: site.baseurl}}">
                      <h4 class="card-title">{{ post.title }}</h4>
                      <p class="card-text">{{ post.subtitle }}</p>
                    </a>
                  </div>
                  <div class="card-footer">
                    <a href="{{post.url | prepend: site.baseurl}}">
                      <small class="text-muted">
                        {{ post.date | date_to_string }}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
                        <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " min read" }}{% endunless %}</span>
                      </small>
                    </a>
                  </div>
                </div>
                {% endfor %}
              </div>
              {% endif %}
            </div>
        </div>
      {% endfor %}
    </div>
  </div>

  {% include scripts.html %}

</body>

</html>