---
layout: base
---

<a href="{{ site.url }}{{ site.baseurl }}/" class="page-blog-logo">
  <span style="background-image: url({{ "/assets/images/" | prepend: site.baseurl | append : site.blog-logo}})"></span>
</a>

<div class="page-wrapper">
  <article class="page-article">
    <header class="page-header">
      <div class="page-cover-image" style="background-image: url(
      {% if page.image %}
      {{ "/assets/images/" | prepend: site.baseurl | append : page.image}}
      {% else %}
      {{ "/assets/images/" | prepend: site.baseurl | append : site.default-cover-image}}
      {% endif %}
      )">
      </div>
      <!-- End Page Cover Image -->
      <div class="page-meta">
        <h1>{{page.title}}</h1>
        {% if site.author-image %}
        <div class="page-author-image" style="background-image: url({{ "/assets/images/" | prepend: site.baseurl | append : site.author-image}})"></div>
        {% endif %}
        <span class="page-author-name"><a href="{{site.baseurl}}/about">{{ site.author }}</a></span>
        <span>on {{ page.date | date_to_long_string }}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
        <span>{% capture words %}{{ page.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " min read" }}{% endunless %}</span>
        <div class="page-topofpost">
          <a class="anchor" href="#topofpost"><i class="fa fa-angle-down"></i></a>
        </div>
      </div>
    </header>
    <section class="page-post-content">
      <a name="topofpost"></a>
      {{page.content | markdownify}}
    </section>
    <footer class="page-footer">
      {% include share_bar.html %}
      
      <div class="page-tag">
        <h4>Tags:</h4>
        {% for tag in page.tags %}
        <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">&#35; {{ tag }}</a>
        {% endfor %}
      </div>

      <div class="page-writtenby">
        <h1>Written by</h1>
        <div class="page-author">
          {% if site.author-image %}
          <div class="page-author-image" style="background-image: url({{ "/assets/images/" | prepend: site.baseurl | append : site.author-image}})"></div>
          {% endif %}
          <h2>{{ site.author }}</h2>
          <p>{{ site.about-author }}</p>
        </div>
      </div>
    </footer>
      {% include disqus.html %}
</article>
</div>